@import 'stylus.import'

button, .button
    outline: none;
    border-radius:4px
    border: 2px solid $main-color
    background-color: transparent
    color: $main-color
    min-width: 6rem;
    height: 4rem;
    padding: 7px 15px;
    font-weight: 600;
    font-size: 16px;
    display: inline-block
    cursor:pointer
    -webkit-transition: all .05s ease-in-out;
    -o-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
    &:hover
        background-color: $main-color
        border-color: $main-color
        color: #fff

.button-reverse
    border-color: $main-color
    background-color: $main-color
    color: #fff
    &:hover
        background-color: #fff
        border-color: $main-color
        color: $main-color

.button-on-red
    background-color: transparent
    border-color: #fff
    color: #fff
    &:hover
        background-color: #fff
        border-color: #fff
        color: $main-color

.button-tweet-on-blue
    background-color: transparent
    color: #fff
    border-color: #fff
    &:hover
        background-color: #fff
        border-color: #fff
        color: #55ACEE
