$main-color = #FB3800

$text-main-color = #202227
$text-grey-color = #ADADAD
$color-aa = #00A82F
//#108A00
$color-bb = #FFC619
//#0AB43A 59EE83
$color-cc = #FB3800
// $color-dd = #FB3800
$color-ff = #202227

$text-light-grey-color = #f4f4f4

$color-link = #FB3800
$color-link-hover = #FB3800
