@import '{}/client/style/stylus.import';

#loading
    color: $text-grey-color
    padding:3rem

.loading-gif
    background-image: url('/images/loading.gif');
    height: 3rem
    width: 3rem
    background-size:cover
