@import '{}/client/style/stylus.import';

.tableFakeLoading
  td
    div
      background: $text-light-grey-color;
      padding: 1.5rem;
    .capsula
      border-color: $text-light-grey-color
  &:hover
    background: transparent !important
