<template name="tableFakeLoading">
  {{> tableFakeLoadingItem}}
  {{> tableFakeLoadingItem}}
  {{> tableFakeLoadingItem}}
</template>

<template name="tableFakeLoadingItem">
  <tr class="tableFakeLoading tr-company animated fadeIn">
    <td>
      <div class="grade"></div>
    </td>
    <td class="company-image-td">
      <div ></div>
    </td>
    <td class="company-name align-left">
      <div></div>
    </td>
    <td class="align-left hide-900">
      <div></div>
    </td>
    <td class="hide-630">
      <div></div>
    </td>
    <td class="align-right">
      <div></div>
    </td>
    <td class="hide-900"><div class="grade"></div>
    </td>
    <td class="hide-390"><div class="grade"></div>
    </td>
    <td class="hide-460"><div class="grade"></div>
    </td>
    <td class="hide-540"><div class="capsula"></div>
    </td>
  </tr>
</template>
