<template name="company_full">
<div class="big-company-image-wrap relative">
    <div class="big-company-image" style="background-image: url('/images/{{big_image}}')"></div>
    <a href="{{link}}" target="_blank" class="url"><i class="fa fa-link"></i></a>
</div>
{{#if sub_ready}}
<div class="intro capsula-1">
    <h1><a href="{{link}}">{{name}}</a></h1>
    <p>{{headquarters}}</p>
</div>

<div class="menu capsula-1">
    <p class="menu-switch {{#if active 'company_info'}}active{{/if}}" id="company_info">
        Info
    </p>
    <p class="menu-switch {{#if active 'company_reviews'}}active{{/if}}" id="company_reviews">
        Reviews
    </p>
</div>

{{> Template.dynamic template=template}}

{{#if isInRole 'admin'}}
<div class="admin-wrap">
    <button class="admin_edit">Update</button>
</div>
{{/if}}

{{else}}
    {{> loading}}
{{/if}}
</template>
