@import '{}/client/style/stylus.import';

.poloska
    padding: 2rem 0.5rem;
    background: $main-color
    text-align: center;
    transition: height .3s;
    p
        color: #FFF;
        font-weight:600
        font-size:18px
        display: inline-block;
        padding: 0 1rem 1rem 0;
    input
        display: inline-block !important;
        width: 15rem !important;
        border-color: #fff !important
        margin-right: 0.5rem
    form
        display: inline-block;
    h4
        color: #fff
