<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="google-site-verification" content="-CO_tXUAqOaxxsJakcYk_OwLec_wYzc6pZvuHc5zNhA" />
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name='robots' content='index,follow'>
	<meta name='apple-mobile-web-app-capable' content='yes'>
	<meta name='apple-touch-fullscreen' content='yes'>
	<meta name='apple-mobile-web-app-status-bar-style' content='black'>
	<link rel="icon" type="image/png" href="images/logo_32.png">
	<link rel="icon" href="http://techfights.com/images/logo_32.ico?v=2" type="image/x-icon">
	<link rel="shortcut href" HREF="images/logo_32.ico" type="image/x-icon">
	<link href="ZERO___HERO" rel="author">
	<meta name="twitter:card" content="summary">
	<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
</head>
