@import '{}/client/style/stylus.import';

.rating-table
    tr
        .piar-image
            background: transparent url("/images/piar-back.png") no-repeat scroll 0% 100%;
            background-size:cover
        .piar
            background-color: $main-color
            border-radius: 4px
            padding: 2rem 1rem
            p
                display: inline-block
                color: #fff
                font-weight: 600
                padding: 0 1rem 1rem 0;
                font-size: 18px
