@import '{}/client/style/stylus.import';

.rating-table
    tr
        .piar-image
            background: transparent url("/images/piar-back.png") no-repeat scroll 0% 100%;
            background-size:cover
        .piar
            border-radius: 4px
            padding: 2rem 1rem
            p
                display: inline-block
                padding: 0 1rem 1rem 0;
                font-size: 18px
        .white
            p
                color: #fff
        .black
            p
                color : $text-main-color
        .piar-red
            background-color: $main-color
        .piar-light-grey
            background-color: $text-light-grey-color
        .piar-blue
            background-color: #55ACEE
