<template name="feedback">
    <div class="feedback-wrap">
        <h2>Feedback</h2>
        <p class="align-left">
            Finally you're here! Share with us what you want. Suggest a company, report a bug, say "Hello".
        </p>
        <p class="align-left">
            Have a crazy idea? I'm listening!
        </p>
        <form id="form_feedback">
            <textarea rows="5" name="textarea" id="form_feedback_textarea" placeholder="I want to share.." autofocus></textarea>
            <button type="submit"><i class="fa fa-rocket"></i> Send Now</button>
        </form>
        <p class="color-cc align-left">
            {{error}}
        </p>
        <p class="color-aa align-left">
            {{good}}
        </p>
    </div>
</template>

<template name="showFeedback">
    <span id="feedback" class="{{#if dontBeLink}}pointer{{else}}link{{/if}}">{{#if text}}{{text}}{{else}}Feedback{{/if}}</span>
</template>
