@import '{}/client/style/stylus.import';

.red-color
    color: $color-cc

.mar-bot-2
    margin-bottom:0.2rem

#faq-grades
    text-decoration:underline;
    cursor:pointer

.little-boy
    font-size: 10px
    color: $text-grey-color
    font-weight: 400

.active-tr
    background: $color-light-grey;
    td
        p
            color: $text-main-color
    .company-name
        p
            border-bottom: 2px solid !important

.tr-company
    &:hover
        background: $color-light-grey;
        td
            p
                color: $text-main-color
        .company-name
            p
                border-bottom: 2px solid
    td
        padding: 1.5rem 0.5rem
        .company-image
            width: 3rem;
            height: 3rem;
            background-size: cover;
            display: inline-block;
        p
            display: inline-block
    .company-name
        padding-left: 1rem;
        font-size: 16px
        p
            border-bottom: 2px solid transparent;
    .company-image-td
        padding-right: 0;

.full-info
    .admin-wrap
        padding: 1rem
        border-top: 1px solid
        border-bottom: 1px solid
    td
        .action-wrap
            margin: 1rem 0;
            p
                margin-bottom: 1rem;
                font-weight:600
            button
                margin:0
                @media(max-width:768px)
                    width:100%
        .big-company-image-wrap
            background: $text-main-color
            @media(max-width:768px)
                .url
                    border-color: #fff !important
                    i
                        color:#FFF!important
            .url
                &:hover
                    border-color: #fff;
                    i
                        color:#FFF
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6rem;
                height: 6rem;
                margin: -3rem 0 0 -3rem;
                border: 2px solid $color-light-grey;
                border-radius: 50%;
                overflow: hidden;
                opacity: 1;
                -webkit-transition: all .25s ease-out;
                transition: all .25s ease-out;
                i
                    display: block;
                    width: 6rem;
                    height: 6rem;
                    text-align: center;
                    font-size: 4rem;
                    line-height: 6rem;
                    color: $color-light-grey;
                    position:relative
                    right:1px
                    -webkit-transition: all .25s ease-out;
                    transition: all .25s ease-out;
            .big-company-image
                opacity: .7;
                height:30rem
                width:100%
                background-size:cover
                background-position: 100% 50%
                @media(max-width:768px)
                    height:20rem
        .details
            width:100%
            tr
                td
                    padding: 0.75rem;
                    font-size:16px
                    vertical-align: top;
                    &:nth-child(1)
                        width:50%
                    &:nth-child(2)
                        width:50%
                        text-align:right;
                    &:first-child
                        padding-left:1rem
                    &:last-child
                        padding-right:1rem
                .glava
                    padding-top: 1.5rem
                    padding-bottom: 0.5rem
                    h4
                        font-weight:600
                        display: inline-block
                        color: $text-grey-color
        .table-wrap
            width:50%
            display:inline-block
            vertical-align: top
            @media(max-width:768px)
                width: 100%
