.feedback-wrap
    margin:0 0.5rem
    textarea
        width:100%
    h2
        font-weight: 600;
        margin-bottom:1rem
    p
        font-size:18px
        margin-bottom:2rem
    button
        margin-top: 1rem
        width: 100%;
