@import '{}/client/style/stylus.import';

.grade_faq
    padding:0 0.5rem
    .overlay_name
        padding-bottom:2rem
    table
        tr
            td
                color: $text-grey-color
                &:nth-child(2)
                    text-align: center;
            td, th
                padding:0.5rem 2rem
