<template name="slack">
<div class="slack-img-wrap">
    <div class="image"></div>
    <div class="text-wrap">
        <div class="text">
            <a class="no-border" href="/"><div class="logo"></div></a>
            <h1>
                <span>What it's like to work in the</span> <br />
                best IT companies in the world?
            </h1>
            <div class="slack-wrap">
                <h2>
                    Join Community on <i class="fa fa-slack"></i> Slack
                </h2>
                <div class="give-me-invite-slack">
                    {{#unless invite}}
                        <form id="slack-form">
                            <input type="email" placeholder="you@yourdomain.com" />
                            <button type="submit" class="button button-action button-reverse button-main">Get My Invite</button>
                        </form>
                        {{#if error}}
                            <div class="message error">{{error}}</div>
                        {{/if}}
                    {{else}}
                        <div class="message"><strong>Success! </strong>Check your email for an invite from <strong>{{slack.name}}</strong></div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-wrap container-x slack-about">
    <h2><i class="fa fa-slack"></i> Slack Chat</h2>
    <p>
        We make a community where people can share their work experience and be able to find new useful contacts in tech world.
    </p>
    <div class="slack-chat">

    </div>
    <h2>What big community can give?</h2>
    <p>Just imagine..</p>
    <p>
        There is a large group of different people as engineers, designers, managers, directors from different companies and startups who love to learn new things and share their experiences.
    </p>
    <p>
        It's magic.
    </p>
    <p>
        Real situation: You want to work as Engineer in Twitter and would like to learn more about the company (work process, benefits, senior management) and you know that there is a community that will help you.
    </p>
    <p>
        You can find anything and talk to anyone. With big community you can easily find answers to these questions:
    </p>
    <ul class="ul-to-p">
        <li>
            How to work as a designer in Apple?
        </li>
        <li>
            What is it like working with Larry Page and Sergey Brin?
        </li>
        <li>
            How can I prepare myself to be a software engineer at Facebook?
        </li>
        <li>
            What is the interview process like at Twitter?
        </li>
    </ul>
    <h2>
        For whom this community?
    </h2>
    <p>
        Join us If you:
    </p>
    <ul class="ul-to-p">
        <li>
            Working in large companies <span class="text-grey">(Google, Facebook, Microsoft..)</span>
        </li>
        <li>
            Working in small startups
        </li>
        <li>
            Want to know how people work and how to get this work
        </li>
    </ul>
</div>
</template>
