.give-me-invite-slack
	.slack-info
		font-size: 18px
		margin-bottom: 1rem
		p
			display:inline-block
			margin: 0
	.message
		font-size: 18px
	form
		display: inline-block
		input
			display: inline-block;
			width: auto;
			@media(max-width:768px)
				width:100%
		button
			margin-left: 1rem
			@media(max-width:768px)
				margin:1rem 0 0
				width:100%

.slack-about
	margin-bottom: 3rem !important

#slack-photo
	background-image: url('/images/Slack%20RGB.png');
	background-size: cover;
	height: 36px;
	right: 5px;
	top: 6px;
	position: relative;
	display: inline-block;
	width: 100px;
