<template name="layout">
    {{> Template.dynamic template=login}}

    <section class="header">
        {{> Template.dynamic template=header}}
    </section>
    {{> Template.dynamic template=poloska}}
    {{> Template.dynamic template=body}}
    {{#if show_overlay}}
        {{> overlay}}
    {{/if}}

    {{> fixedFooter}}
    <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
    t._e.push(f);
    };

    return t;
    }(document, "script", "twitter-wjs"));</script>

    <div id="fixedFooterSpace"></div>
</template>
