<template name="fixedFooter">
  <div class="fixedFooter">
    <div class="link-section"><a href="/slack"><i class="fa fa-slack"></i> Slack</a> / <a href="/about">About</a>  / {{> showFeedback}} / <a target="_blank" href="http://remotewolfy.com/">Remote Jobs</a> </div>

    <div class="pull-right">
      <a target="_blank" class="a-noborder" href="https://twitter.com/Zero___Hero">
      <div class="createdBy">
          <p>made by</p>
          <img class="image" src="/images/zerohero.png">
          <p>Zero Hero</p>
      </div>
      </a>
      <!-- <div id="follow_twitter">
        <a class="twitter-follow-button"
        href="https://twitter.com/tech_fights" data-size="large" data-show-count="false">
        Follow @tech_fights</a>
      </div> -->
    </div>
  </div>
</template>
