@import '{}/client/style/stylus.import';

.edit-wrap
    margin:0 0.5rem
    h2
        font-weight: 600
        margin-bottom:1rem
    p
        font-size:18px
    input
        font-size: 18px;

.form_group
    margin-bottom:1rem

#user_edit_form
    text-align:left
    button
        width: 100%;
