<template name="grade_table">
    <table>
        <tr>
            <th>
                Percentage
            </th>
            <th>
                Letter Grade
            </th>
        </tr>
        <tr>
            <td>95% - 100%</td>
            <td><div class="grade grade_aa">A+</div></td>
        </tr>
        <tr>
            <td>85% - 94%</td>
            <td><div class="grade grade_aa">A</div></td>
        </tr>
        <tr>
            <td>80% - 84%</td>
            <td><div class="grade grade_bb">B+</div></td>
        </tr>
        <tr>
            <td>70% - 79%</td>
            <td><div class="grade grade_bb">B</div></td>
        </tr>
        <tr>
            <td>65% - 69%</td>
            <td><div class="grade grade_cc">C+</div></td>
        </tr>
        <tr>
            <td>55% - 64%</td>
            <td><div class="grade grade_cc">C</div></td>
        </tr>
        <tr>
            <td>0% - 54%</td>
            <td><div class="grade grade_ff">F</div></td>
        </tr>
    </table>
</template>
