@import '{}/client/style/stylus.import';

.header-wrap
    padding:1.5rem 0.5rem;
    .head
        align-items: center;
        justify-content: center;
        display: inline-flex;
    .links
        @media(max-width: 700px)
            display:none
        position: absolute
        right: 0
        top: 0
        margin-top:1rem
        text-transform: uppercase
        font-weight: 600
        a, .link
            margin: 0 1rem
            &:fisrt-child
                margin: 0rem
            &:last-child
                margin: 0rem
            color: $text-main-color
            border:none
            &:hover
                color:$main-color
    h1
        font-size: 28px;
        color: $main-color
        &:hover
            color: $main-color
    .description
        display:block
        color: $text-grey-color
        font-size: 18px
        font-weight: 200

#logo_header
    background-image: url('/images/logo.png');
    display:inline-block
    width:3rem
    height:3rem
    margin-right: 0.5rem;
    background-size:cover
